<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046336687740-3phdh4p08bga2o8qo2u4d3ol7bojfing.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046336687740-3phdh4p08bga2o8qo2u4d3ol7bojfing</string>
	<key>API_KEY</key>
	<string>AIzaSyBKySilgbyBJ4p4MHnLW2G_1xTICSNcGQw</string>
	<key>GCM_SENDER_ID</key>
	<string>1046336687740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adopt0704</string>
	<key>PROJECT_ID</key>
	<string>schedule-49ede</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-49ede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046336687740:ios:ff532251523141709e03f9</string>
	<key>DATABASE_URL</key>
	<string>https://schedule-49ede-default-rtdb.firebaseio.com</string>
</dict>
</plist>