<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iOSDutyApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
				<key>dateExpires</key>
				<string>2020/11/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAPIClientForREST.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Highlightr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>M13Checkbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper_Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PKHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FDA73E02A5DB6322DA48033830233983F94FD636</string>
						<key>dateExpires</key>
						<string>2020/11/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UCTUY7XWML</string>
						<key>name</key>
						<string>chienchang lo</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UCTUY7XWML.com.Sheetsu</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UCTUY7XWML</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>UCTUY7XWML.com.Sheetsu</string>
				</array>
			</dict>
			<key>name</key>
			<string>iOSDutyApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b480386-d119-40ac-84d0-7f953782198c</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.Sheetsu</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UCTUY7XWML</string>
				<key>name</key>
				<string>chienchang lo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
